h1{
    /* выровнять текст */
text-align: center;
font-size: 100px;
/* шрифт кабламмо */
font-family: 'Kablammo', cursive;
/* font-family: 'Roboto Condensed', sans-serif; */
color: darkgreen;



}
a{
    /* декорация текста */
text-decoration: none;
font-size: 35px;

/* цвет */
color: rgb(255, 255, 255);
font-family: 'Roboto Condensed', sans-serif;
display: block;



}
img{
width: 500px;










}
body{
background-image: url("ссср.jpg");
background-size: cover;
background-attachment: fixed;





}
#mos{
display: block;
margin: auto;





}
ol{
width: 500px;
margin: auto;


}



































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































